.dashboard-header {
    width: 100%;
    max-width: 30rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.dashboard-header > .header-text > h1 {
    font-size: var(--fs-lg);
}

.dashboard-header > .header-text > h2 {
    font-size: var(--fs-sm);
    font-weight: 400;
}

@media (min-width: 40rem) {
    .dashboard-header {
        max-width: 35rem;
    }
}

@media (min-width: 48rem) {
    .dashboard-header {
        max-width: 45rem;
    }
}

@media (min-width: 64rem) {
    .dashboard-header {
        max-width: 50rem;
    }
}

@media (min-width: 80rem) {
    .dashboard-header {
        max-width: 64rem;
    }
}