@font-face {
    font-family: SourceSerif4;
    src: url(./assets//fonts//SourceSerif4-VariableFont.ttf);
}

@font-face {
    font-family: SourceSerif4;
    src: url(./assets//fonts//SourceSerif4-Italic-VariableFont.ttf);
    font-style: italic;
}

/* ######################### General Styles ######################### */

:root {
    --font-stack:
        system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    --dark-text: #0f172a;
    --light-text: #fbfbfc;
    --dark-subtext: rgb(15 23 42 / 60%);
    --error-text: #991818;

    --background-color: #fbfbfc;
    --background-slight-contrast: #ffffff;
    --background-error: #fef2f2;

    --primary-color: #2563eb;
    --secondary-color: #e8eefc;
    --accent-color: #1e40af;
    --misc-interactable-color: #314158;

    --separator-border: #d5dae3;
    --darker-separator-border: #BAC1CC;
    --error-border: #dc2626;
    --valid-border: #00ba4d;

    --hover-dark-darker: #070c17;

    --shadow-sm: 0 0 5px 1px rgb(0 0 0 / 0.18), 0 0 2px 0 rgb(0 0 0 / 0.14);
}

body {
    font-family: SourceSerif4, var(--font-stack);

    color: var(--dark-text);
    background-color: var(--background-color);

    min-height: 100svh;
}

#root {
    min-height: 100svh;

    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#root:has(.author-form) {
    align-items: center;
}

/* ######################### General Styles ######################### */

/* ######################### Form Styles ######################### */

.author-form {
    margin-top: 3rem;

    width: 300px;

    border-radius: 0.35rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-sm);
}

.form-heading {
    font-weight: 500;
    font-size: var(--fs-lg);
}

.form-level-error {
    font-size: var(--fs-sm);
    text-align: center;
    color: var(--error-text);
    padding: 0.5rem;
    border-radius: 0.35rem;
    background-color: var(--background-error);
    border: 1px solid var(--error-border);
    margin-bottom: 1rem;
    font-weight: 500;
}

.form-description {
    font-size: var(--fs-sm);
    font-style: italic;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.form-row > label {
    color: var(--dark-text);
    font-weight: 500;
}

.form-row > label:has(.popover-target-button) {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.form-row > input {
    padding: 0.35rem 0.6rem;
    background-color: transparent;
    caret-color: var(--dark-text);

    outline: none;
    border: 1px solid var(--separator-border);
    border-radius: 0.35rem;

    transition: 0.2s ease-in-out;
}

.form-row > input:focus {
    border: 1px solid var(--primary-color);
}

.form-row > input.has-error:focus {
    border: 1px solid var(--error-border);
}

.form-row > input.is-valid:focus {
    border: 1px solid var(--valid-border);
}

.input-inline-error {
    font-size: var(--fs-sm);
    color: var(--error-text);
}

.popover-target-button {
    color: var(--dark-text);
    cursor: pointer;
    border: 1px solid var(--dark-text);
    background-color: transparent;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    line-height: 0;
    padding: 0;

    transition: 0.2s ease-in-out;
}

.popover-target-button:hover,
.popover-target-button:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

.popover-dropdown-text {
    font-size: var(--fs-sm);
    color: var(--light-text);
    max-width: 240px;
}

.popover-dropdown-container {
    background-color: var(--dark-text);
}

.author-form button:not(.popover-target-button) {
    margin-top: 1.5rem;

    padding: 0.35rem 0.85rem;
    border-radius: 0.35rem;
    border: none;
    background-color: var(--dark-text);
    color: var(--light-text);
    font-weight: 500;
    width: 100%;

    cursor: pointer;

    display: grid;
    place-items: center;

    font-size: var(--fs-base);

    height: calc(1lh + 0.35rem * 2);

    transition: 0.2s ease-in-out;
}

.author-form button:not(.popover-target-button):hover {
    background-color: var(--hover-dark-darker);
}

@media (min-width: 40rem) {
    .author-form {
        width: 420px;
    }

    .popover-dropdown-text {
        max-width: 320px;
    }
}

@media (min-width: 80rem) {
    .author-form {
        width: 480px;
    }

    .popover-dropdown-text {
        max-width: 400px;
    }
}

/* ######################### Form Styles ######################### */
